/* Background Page Content */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, #133959, #91E4FB);
  background-size: cover;
}

h1{
  text-shadow: #393939 3px 3px 1px;
  color: white;
  padding: 10px;
  margin-top: 0;
  background-size: cover;
  background-image: linear-gradient(to bottom, #91E4FB, #133959);
  text-align: center;
}

/* Styling the navigation bar */
.menu {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; /* Adjust the height as needed */
}

.menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 15px; /* Space out the list items */
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px; /* Adjust the font size as needed */
  padding: 10px 15px;
  display: block;
  text-align: center;
}

/* Hover effect */
.menu a:hover {
  background-color: #393939;
}

